<div class="album py-5">
    <div class="container">
        <div class="row">
            <div *ngFor="let result of list" class="col-md-3" style="padding: 0;">
                <app-card *ngIf="result.poster_path" [item]="result"></app-card>
            </div>
        </div>
    </div>
</div>

<div>
    <nav>
        <ul class="pagination justify-content-center">
            <li *ngIf="currentpage === 1" class="page-item disabled">
                <span class="page-link">Previous</span>
            </li>
            <li *ngIf="currentpage != 1" class="page-item">
                <span (click)="loadPage((currentpage-1))" class="page-link">Previous</span>
            </li>

            <li *ngIf="currentpage - 1 > 0" (click)="loadPage((currentpage-1))" class="page-item">
                <span class="page-link" >{{ currentpage - 1}}</span></li>
            <li class="page-item active" (click)="loadPage((currentpage))">
                <span class="page-link">{{ currentpage }}</span>
            </li>
            <li class="page-item" (click)="loadPage((currentpage+1))">
                <span class="page-link">{{ currentpage + 1 }}</span>
            </li>

            <li class="page-item">
                <span class="page-link" (click)="loadPage((currentpage+1))">Next (total : {{ maxpage }})</span>
            </li>
        </ul>
    </nav>
    <!-- <button class="btn btn-outline-light" (click)="showMore()">Show more</button> -->
</div>