.card {
    border: none !important;
}

.card-body {
    background: #282828;
}

.card-footer {
    background: #282828;
}

.card-title {
    font-family: 'Oswald';
}

.card-text {
    text-align: justify;
    font-family: 'Raleway',
    sans-serif;
}