<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" [routerLink]="['/']" routerLinkActive="router-link-active" >
        <img src="../../../assets/tickets.svg" width="30" height="30" class="d-inline-block align-top" alt="">
        <span class="navbar-brand mb-0 h1" style="margin-left: 5px;">CineCity</span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li [class.active]="router.url==='/'" class="nav-item">
                <a class="nav-link" [routerLink]="['/']" routerLinkActive="router-link-active">Trending <span class="sr-only">(current)</span></a>
            </li>
            <li [class.active]="router.url==='/movies'" *ngIf="movieGenres" class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Movies
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a [routerLink]="['/movies']" routerLinkActive="router-link-active"  class="dropdown-item">See All</a>
                    <a [routerLink]="['/movies', genre.id ]" routerLinkActive="router-link-active"  class="dropdown-item" *ngFor="let genre of movieGenres.genres">{{ genre.name }}</a>
                </div>
            </li>
            <li [class.active]="router.url==='/tvshows'" *ngIf="tvGenres" class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    TV Shows
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a [routerLink]="['/tvshows']" routerLinkActive="router-link-active" class="dropdown-item">See All</a>
                    <a [routerLink]="['/tvshows', genre.id ]" routerLinkActive="router-link-active"  class="dropdown-item" *ngFor="let genre of tvGenres.genres">{{ genre.name }}</a>
                </div>
            </li>
        </ul>
        <app-search></app-search>
    </div>
</nav>