h1 {
    padding-top: 10px;
    font-family: 'Oswald',
    sans-serif;
    padding-bottom: 10px;
}

.title-container {
    position: relative;
    text-align: center;
    color: white;
}

.title {
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 5px;
    font-size: 3em;
    text-align: center;
    text-decoration: underline;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}